<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Get Things Done!</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <!-- header -->
    <div class="header">
        <h1>Get Things Done!</h1>
        <div class="logout">
            {% if user.is_active and user.first_name %}
                Welcome back, {{ user.first_name }}! <a href="{% url "todo.views.logout" %}">Logout?</a>
            {% elif user.is_active %}
                Welcome back! <a href="{% url "todo.views.logout" %}">Logout?</a>
            {% endif %}
        </div>
    </div>

    <!-- login -->
    {% if not user.is_active %}
        <div class="login">
            <form action="{% url "todo.views.login" %}" method="post">
                {% csrf_token %}
                {{ login_form }}
                <button name="Login">Login</button> or <button name="Register" type="button">Register</button>
            </form>
            <span class="message">{% for message in messages %} {{ message }} {% endfor %}</span>
        </div>
    {% endif %}

    <!-- register -->
    {% if not user.is_active %}
        <div class="register" style="display: none;">
            <form action="{% url "todo.views.register" %}" method="post">
                {% csrf_token %}
                {{ register_form }}
                <button name="Login">Sign Me Up!</button>
            </form>
            <span class="message">{% for message in messages %} {{ message }} {% endfor %}</span>
        </div>
    {% endif %}

    <!-- add task -->
    <div class="add-task">
        {% if user.is_active %}
            {% csrf_token %}
            {{ new_task_form }}
            <button name="Add Task">Add Task</button>
        {% else %}
            <label for="id_description">Description:</label><input readonly id="id_description" maxlength="200" name="description" placeholder="Enter new task..." type="text">
            <button name="">Add Task</button>
        {% endif %}
    </div>
    

    <!-- todo items -->
    <section class="to-do">
        <h2>To Do</h2>
        {% for task in tasks %}
            <article class="todo-item" data-task-id={{ task.id }}>
                <input type="checkbox">
                <span class="description">{{ task.description }}</span>
                <input type="text" value="{{ task.description }}" style="display: none;">
                <button name="Delete Task"></button>
                <button name="Edit Task"></button>
            </article>
        {% endfor %}

        {% if not user.is_active %}
            <article class="todo-item">
                <input type="checkbox">
                <span class="description">Login to your account or create a new one!</span>
                <input type="text" value="Login to your account or create a new one!" style="display: none;">
                <button name="Delete Task"></button>
                <button name="Edit Task"></button>
            </article>
        {% endif %}
    </section>

    <!-- completed items -->
    <section class="done">
        <h2>Recently Completed Items</h2>
        {% for task in completed_tasks %}
            <article class="done-item" data-task-id={{ task.id }}>
                <input type="checkbox" checked>
                <span class="description">{{ task.description }}</span>
                <input type="text" value="{{ task.description }}" style="display: none;">
                <button name="Delete Task"></button>
                <button name="Edit Task"></button>
            </article>
        {% endfor %}

        {% if not user.is_active %}
            <article class="done-item">
                <input type="checkbox" checked>
                <span class="description">Push this project to Github!</span>
                <input type="text" value="Push this project to Github!" style="display: none;">
                <button name="Delete Task"></button>
                <button name="Edit Task"></button>
            </article>
        {% endif %}
    </section>

    <!-- technology icons -->
    <div class="icons">
        <a href="https://www.djangoproject.com/"><img src="{% static "assets/images/dj.png" %}" alt="Django"></a>
        <a href="http://jquery.com/"><img src="{% static "assets/images/jquery_64_black.png" %}" alt="jQuery"></a>
        <a href="https://github.com/dhosterman/codecademy_todo"><img src="{% static "assets/images/github_64_black.png" %}" alt="Github"></a>
    </div>
</body>
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bower_components/jquery-cookie/jquery.cookie.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</html>