<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <!-- header -->
    <div class="header">
        <h1>Get Things Done!</h1>
    </div>

    <!-- add task -->
    <div class="add-task">
        {% csrf_token %}
        {{ new_task_form }}
        <button name="Add Task">Add Task</button>
    </div>

    <!-- todo items -->
    <section class="to-do">
        <h2>To Do</h2>
        <article class="todo-item"><input type="checkbox">Do this one thing</article>
    </section>

    <!-- completed items -->
    <section class="done">
        <h2>Recently Completed Items</h2>
        <article class="done-item"><input type="checkbox" checked>This thing is done</article>
    </section>
</body>
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bower_components/jquery-cookie/jquery.cookie.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</html>