<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Things Done!</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <!-- header -->
    <div class="header">
        <h1>Get Things Done!</h1>
        <div class="logout">
            {% if user.is_active and user.first_name %}
                Welcome back, {{ user.first_name }}! <a href="{% url "todo.views.logout" %}">Logout?</a>
            {% elif user.is_active %}
                Welcome back! <a href="{% url "todo.views.logout" %}">Logout?</a>
            {% endif %}
        </div>
    </div>

    <!-- login -->
    {% if not user.is_active %}
        <div class="login">
            <form action="{% url "todo.views.login" %}" method="post">
                {% csrf_token %}
                {{ login_form }}
                <button name="Login">Login</button> or <button name="Register" type="button">Register</button>
            </form>
        </div>
    {% endif %}

    <!-- register -->
    {% if not user.is_active %}
        <div class="register" style="display: none;">
            <form action="" method="post">
                {% csrf_token %}
                {{ register_form }}
                <button name="Login">Sign Me Up!</button>
            </form>
        </div>
    {% endif %}

    <!-- add task -->
    <div class="add-task">
        {% csrf_token %}
        {{ new_task_form }}
        <button name="Add Task">Add Task</button>
    </div>

    <!-- todo items -->
    <section class="to-do">
        <h2>To Do</h2>
        {% for task in tasks %}
            <article class="todo-item" data-task-id={{ task.id }}>
                <input type="checkbox">
                <span class="description">{{ task.description }}</span>
                <input type="text" value="{{ task.description }}" style="display: none;">
                <button name="Delete Task"></button>
                <button name="Edit Task"></button>
            </article>
        {% endfor %}
    </section>

    <!-- completed items -->
    <section class="done">
        <h2>Recently Completed Items</h2>
        {% for task in completed_tasks %}
            <article class="done-item" data-task-id={{ task.id }}>
                <input type="checkbox">
                <span class="description">{{ task.description }}</span>
                <input type="text" value="{{ task.description }}" style="display: none;">
                <button name="Delete Task"></button>
                <button name="Edit Task"></button>
            </article>
        {% endfor %}
    </section>
</body>
<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bower_components/jquery-cookie/jquery.cookie.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</html>