body {
    font-family: Helvetica;
    font-size: 16px;
    margin: 0;
    position: relative;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    color: #466680;
    text-align: center;
}

input:focus, button:focus {
    outline: none;
}

.header {
    background-color: #98D1FF;
    height: 90px;
    border: 1px solid #979797;
    text-align: center;
}

.header h1 {
    font-size: 4em;
    font-weight: normal;
    color: #E6F4FF;
    line-height: 1.203125em;
    margin: 3px 0 3px;
}

.logout {
    position: relative;
    float: right;
    bottom: .8em;
    font-size: .8em;
    margin-right: 1%;
}

.login {
    background-color: #466680;
    height: 20px;
    padding: 13px 2% 17px;
}

.login form {
    float: right;
}

.add-task, section {
    position: relative;
    width: 80.86%;
    margin: 72px auto 0 auto;
}

.add-task label {
    display: none;
}

.add-task input {
    border-radius: 12px;
    background: #E4E1E1;
    border: 1px solid #979797;
    height: 44px;
    font-size: 1.25em;
    width: 78%;
    padding: 0 1% 0 1%;
}

.add-task button {
    border: 0;
    border-radius: 12px;
    background: #466680;
    -moz-box-shadow:    2px 2px 4px 0px rgba(0,0,0,0.50);
    box-shadow:         2px 2px 4px 0px rgba(0,0,0,0.50);
    font-family: Helvetica;
    font-size: 1.25em;
    color: #E6F4FF;
    line-height: 24px;
    width: 14.23%;
    max-width: 145px;
    height: 44px;
    margin-left: 3.26%;
    position: relative;
    top: 1px;
    float: right;
}

.add-task button:active {
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid black;
}

article {
    border-radius: 12px;
    border: 1px solid #979797;
    font-family: Helvetica;
    font-size: 1.25em;
    color: #466680;
    line-height: 44px;
    width: 100%;
    height: 44px;
    position: relative;
    margin: 0 0 5px 0;
}

article input[type='checkbox'] {
    margin-right: 1.72%;
    position: relative;
    top: -2px;
    left: .6%;
}

article button {
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;
    float: right;
    position: relative;
    top: 16px;
    right: 1%;
}

button[name="Delete Task"] {
    background-image: url('/static/assets/images/delete.png');
    margin-left: 1%;
}

button[name="Edit Task"] {
    background-image: url('/static/assets/images/edit.png');
}

article input[type='text'] {
    width: 90%;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: none;
}

.done-item {
    text-decoration: line-through;
}

.done-item input[type='text'] {
    text-decoration: line-through;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 570px) {
    .header {
        height: 180px;
        padding: 0 50px 0 50px;
    }
}

@media only screen and (max-width: 835px)  {
    .add-task button {
        line-height: 1.03em;
    }
}